<h2 mat-dialog-title>Opret klausul</h2>
<form [formGroup]="form">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Klausulkode</mat-label>
      <textarea matInput formControlName="name" cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
      @if (form.get('name')?.hasError('required')) {
      <mat-error>
        Påkrævet
      </mat-error>
      }
      @if (form.get('name')?.hasError('nameInUseByActiveClause')) {
      <mat-error>
        Klausulkode allerede i brug
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Klausulbetingelse</mat-label>
      <textarea matInput formControlName="dsl" cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
      @if (form.get('dsl')?.hasError('required')) {
      <mat-error>
        Påkrævet
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fejlbesked</mat-label>
      <textarea matInput formControlName="error" cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
      @if (form.get('error')?.hasError('required')) {
      <mat-error>
        Påkrævet
      </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
</form>

<mat-dialog-actions>
  <button matButton (click)="onNoClick()">Fortryd</button>
  <button matButton (click)="create()" [disabled]="loading || form.invalid">
    Opret
    @if (loading) {
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
    }
  </button>
</mat-dialog-actions>