.identifier {
    width: 8em;
}

.fields {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.expression {
    display: flex;
    justify-content: space-between;
    align-items: center;
}