@if (history() === undefined) {
<mat-spinner [diameter]="30"></mat-spinner>
} @else {
<mat-accordion>
    @for (item of history(); track item.uuid) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ item.validFrom | date:'dd-MM-yyyy HH:mm' }}</mat-panel-title>
            <mat-panel-description>
                <div class="value">{{ item.status | statusTranslate }}</div>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="expanded-content">
            <mat-list>
                <mat-divider />
                <mat-list-item>
                    <div class="field">
                        <div class="label">Klausulbetingelse</div>
                        <code class="value" [innerHTML]="(item.dsl | dslHighlight)"></code>
                    </div>
                </mat-list-item>
                <mat-divider />
                <mat-list-item>
                    <div class="field">
                        <div class="label">Fejlbesked</div>
                        <div class="value">{{ item.error }}</div>
                    </div>
                </mat-list-item>
                <mat-divider />
            </mat-list>
        </div>

    </mat-expansion-panel>
    }
</mat-accordion>
}