.builder {
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.expression-type {
    width: 100%;
}

.age-operator {
    width: 4em !important;
}

.fields {
    display: flex;
    gap: 1em;
}