<h2 mat-dialog-title>Klausul {{status == "DRAFT" ? "kladde" : ""}}</h2>
<mat-dialog-content>
  <mat-list>
    @if (editMode) {
      <clause-edit-items [clause]="clause" />
    } @else {
      <clause-read-items [clause]="clause" />
    }
  </mat-list>
</mat-dialog-content>

@if (status == "ACTIVE") {
<mat-dialog-actions>
  @if (editMode) {
  <button matButton (click)="cancelEditMode()" [disabled]="saving">Fortryd</button>
  <button matButton (click)="save()" [disabled]="saving || editItems?.form?.invalid">
    Opret kladde
    @if (saving) {
    <div class="spinner">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    }
  </button>
  } @else {
  <button matButton (click)="enterEditMode()">Rediger</button>
  }
</mat-dialog-actions>
}