<mat-list>
  @if (editMode) {
  <clause-edit-items [clause]="clause" />
  } @else {
  <clause-read-items [clause]="clause" />
  }
</mat-list>

<div class="action-buttons">
  @if (clause.status == "ACTIVE" || clause.status == "INACTIVE") {
  @if (editMode) {
  <button matButton (click)="cancelEditMode()" [disabled]="loading">Fortryd</button>
  <button matButton (click)="save()" [disabled]="loading || editItems?.form?.invalid">
    Opret kladde
    @if (loading) {
    <div class="spinner">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    }
  </button>
  } @else {
  <button matButton (click)="clause.status == 'ACTIVE' ? inactivate() : activate()" [disabled]="loading">
    {{clause.status == "ACTIVE" ? "Inaktivér" : "Aktivér"}}
  </button>
  <span [matTooltip]="draftAlreadyExists() ? 'Der findes allerede en kladde for denne klausul' : undefined">
    <button matButton (click)="enterEditMode()" [disabled]="draftAlreadyExists()" cdkFocusInitial>Rediger</button>
  </span>
  }
  }

  @if (clause.status == "DRAFT") {
  <button matButton (click)="confirmDeletion()" [disabled]="loading">
    Slet
    @if (loading) {
    <div class="spinner">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    }
  </button>
  <button matButton (click)="confirmApproval()" [disabled]="loading">
    Godkend
    @if (loading) {
    <div class="spinner">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    }
  </button>
  }
</div>

<ng-template #approveTemplate>
  <p>Er du sikker på at du vil gøre klausulen aktiv?</p>
  <p>Bemærk, ved nulstilling af tilsidesættelser nedenfor bedes anvenderen igen tilsidesætte evt. valideringsfejl</p>
  <mat-checkbox [(ngModel)]="resetSkippedValidations">
    Nulstil tilsidesættelser
  </mat-checkbox>
</ng-template>