.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

#app-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}